USE [AddressInfo]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 06/12/2020 11:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NULL,
	[CityCode] [int] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 06/12/2020 11:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](50) NULL,
	[CityId] [int] NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZipCodes]    Script Date: 06/12/2020 11:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZipCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ZipCode] [int] NULL,
	[DistrictId] [int] NULL,
 CONSTRAINT [PK_ZipCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [CityName], [CityCode]) VALUES (1, N'Adana', 1)
INSERT [dbo].[Cities] ([Id], [CityName], [CityCode]) VALUES (2, N'Adıyaman', 2)
INSERT [dbo].[Cities] ([Id], [CityName], [CityCode]) VALUES (3, N'Afyonkarahisar', 3)
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([Id], [DistrictName], [CityId]) VALUES (1, N'Aladağ', 1)
INSERT [dbo].[Districts] ([Id], [DistrictName], [CityId]) VALUES (2, N'Ceyhan', 1)
INSERT [dbo].[Districts] ([Id], [DistrictName], [CityId]) VALUES (3, N'Çukurova', 1)
GO
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[ZipCodes] ON 

INSERT [dbo].[ZipCodes] ([Id], [ZipCode], [DistrictId]) VALUES (1, 1720, 1)
INSERT [dbo].[ZipCodes] ([Id], [ZipCode], [DistrictId]) VALUES (2, 1920, 2)
INSERT [dbo].[ZipCodes] ([Id], [ZipCode], [DistrictId]) VALUES (3, 1930, 2)
GO
SET IDENTITY_INSERT [dbo].[ZipCodes] OFF
